* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
}

html {
	height: 100%;
}

body {
	height: 100%;
	top: 0;
	bottom: 0;
	font-family: "Roboto";
}

/* FEATURES VIEW */
.logo {
	text-align: center;
}
.jumbotron h1 {
	text-align: center;
}

.jumbotron-callout {
	margin-top: 2%;
	text-align: center;
}

.signup-button {
	text-align: center;
}

.team-header span {
	color: #F1C40F;
}

.feature-divider {
  margin: 0;
}
.row .feat-copy {
	padding: 5% 0;
}
	.feat-1 h2 {
		color: #3498DB;
	}
	.feat-2 h2{
		color: #E67E22;
	}
	.feat-3 h2{
		color: #F1C40F;
	}

.copy-wrapper {
	padding: 5% 0;
}

.copy-wrapper h2 {
	font-size: 40px;
	margin-right: 5%;
	margin-left: 5%;
}

.copy-wrapper p {
	padding-top: 2%;
	font-size: 20px;
	line-height: 1.8em;
	font-weight: 300;
	margin-right: 5%;
	margin-left: 5%;
}
	@media (max-width: 970px) {
	  .copy-wrapper h2 {
	    font-size: 40px;
	    text-align: center;
	    margin-right: 0;
	    padding-bottom: 3%;
	  }
	  .copy-wrapper p {
	  	font-size: 20px;
	  	text-align: center;
	  	line-height: 1.4em;
	  	margin-right: 0;
	  	padding-bottom: 3%;
	  }
	}
	@media (max-width: 768px) {
	  .copy-wrapper h2 {
	    font-size: 28px;
	    text-align: center;
	    margin: 0 2% 0 2%;
	    padding-bottom: 3%;
	  }
	  .copy-wrapper p {
	  	font-size: 20px;
	  	text-align: center;
	  	line-height: 1.4em;
	  	margin: 0 2% 0 2%;
	  	padding-bottom: 3%;
	  }
	}

.feat-img {
	padding: 5% 0;
}

.col-md-6 img {
	max-width: 90%;
	height: auto;
	position: relative;
	margin-left: 5%;
}
	@media (max-width: 768px) {
	  .col-md-6 img {
	    margin-left: 5%;
	  }
	}

/* EMPLOYEE VIEW */     
.team-header {
	text-align: center;
}

.employees-container {
	padding-top: 5%;
}

.employee-wrapper {
	padding-top: 5%;
	padding-left: 5%;
	height: 430px;
}

	@media (max-width: 970px) {
	  .employee-wrapper {
	   	padding-left: 5%;
	   	padding-bottom: 15%;
	  }
	}
	@media (max-width: 768px) {
	  .employee-wrapper {
	   	/*padding-left: 8%;*/
	   	padding-bottom: 20%;
	  }
	}
	
.emp-picture {
	width: 160px;
	height: 160px;
	border-radius: 160px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	margin-bottom: 4%;
}

.emp-name {
	font-weight: 500;
	font-size: 1.3em;
}

.emp-title {
	font-weight: 500;
	font-size: 1.3em;
}

.emp-twitter {
	padding-top: 1%;
}

.emp-twitter :hover {
	text-decoration: none;
}

.emp-bio {
	font-size: 14px;
	padding-top: 3%;
	width: 100%;
}


/* FOOTER */
.wrap {
	min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

.push {
	height: 70px;
}

.footer {
	height: 60px;
	background-color: #F5F5F5;
}	
	@media (max-width: 767px) {
	  #footer {
	    margin-left: -20px;
	    margin-right: -20px;
	    padding-left: 20px;
	    padding-right: 20px;
	  }
	}

.voxa-footer {
	margin: 20px 0px;
}