<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Voxa</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="features-menu"><a href="#features">Features</a></li>
        <li class="team-menu"><a href="#team">Team</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <br/>

  <div class="row-fluid">
      <div class="span12" id="content"></div>
  </div>

  <hr>

  <footer>
      <p>&copy; Voxa, LLC</p>
  </footer>
</div>